@font-face {
font-family: Garamond;
font-style: normal;
font-weight: normal;
src:url("../fonts/EBGaramond12-Regular.otf");
}
@font-face {
font-family: Garamond;
font-style: italic;
font-weight: normal;
src:url("../fonts/EBGaramond12-Italic.otf");
}
@font-face {
font-family: Garamond;
font-style: normal;
font-weight: bold;
src:url("../fonts/EBGaramond12-SC.otf");
}

@page {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
body {
  font-family: "Garamond", serif;
  color: black;
  font-size: 100%;
  line-height: 1.5;
  padding:0;
  margin-left: 30px;
  margin-right: 30px;
}
body * {
  line-height: inherit;
  font-family: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Garamond", serif;
  text-align: center;
  font-variant: small-caps;
  font-variant-caps: small-caps;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-indent: 0;
  adobe-hyphenate: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
  page-break-inside: avoid;
  break-inside: avoid;
  page-break-after: avoid;
  break-after: avoid;
}
h1 {
  font-variant: small-caps;
  font-variant-caps: small-caps;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.5;
  margin-top:2em;
  margin-bottom:2em;
}
h2 {
  font-variant: small-caps;
  font-variant-caps: small-caps;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top:1em;
  margin-bottom:1em;
}
img {
  max-width: 100%;
  max-height: 100%;
}
em, em em em, em em em em em {
  font-family: "Garamond", serif;
  font-style: italic;
}
em em, em em em em {
  font-style: normal;
}
b, strong {
  font-family: "Garamond", serif;
  font-weight: bold;
}
blockquote {
  margin-left: 1em;
  margin-right: 1em;
  line-height: 1.5;
  font-style: italic;
}
blockquote p.first-para, blockquote p {
    text-indent: 0;
}
a {
  font-family: "Garamond", serif;
  font-style:italic;
  color: black;
  text-decoration:none;
}

p {
  font-family: "Garamond", serif;
    -epub-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
  hyphens: auto;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  font-size: 1.0em;
  line-height: 1.5;
  margin: 0;
  text-align: justify;
  text-indent: 1em;
  color: black;
  orphans: 2;
  widows: 2;
}
p.first-para, p.first-para-chapter, p.note-p-first {
  text-indent: 0;
}
p.first-para-chapter::first-line {
  font-variant: small-caps;
  font-variant-caps: small-caps;
}
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  text-indent: 0;
}
p+p {
  text-indent: 1em;
}
p.pagebreak {
page-break-after:always;
}
hr {
    border-top: 0.1ex solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    height:0;
    margin: 1.5em 5em;
}
ul, ol, dl {
  font-family: "Garamond", serif;
  margin: 1em 0 1em 0;
  text-align: left; }

li {
  font-family: "Garamond", serif;
  orphans: 2;
  widows: 2;
  text-align: justify;
  text-indent: 0;
  margin: 0; }
  li p {
    text-indent: 0; }


.centre {
  font-size: 1em;
  text-indent:0;
  margin: 0 0;
  text-align:center;
  hyphens: none !important;
  -moz-hyphens: none !important;
  -webkit-hyphens: none !important;
  adobe-hyphenate: none !important;
}

.centre.informations {
  font-size: 0.8em;
}
.pasdalinea {
    text-indent: 0;
}
.a-droite {
  text-align: right;
}
.a-gauche {
  text-align: left;
}

#cover-image {
  text-indent:0;
  margin:0;
  text-align:center;
}
#cover-image img {
  max-height:100%;
  max-width:100%;
}
.auteur {
  font-family: "Garamond", serif;
  font-variant: small-caps;
  font-variant-caps: small-caps;
  font-size: 2.0em;
  line-height: 1.5;
  margin-top:1em;
  margin-bottom:1.3em;
  text-align: center;
  text-indent: 0;
}
.titre {
  font-family: "Garamond", serif;
  font-variant: small-caps;
  font-variant-caps: small-caps;
  font-size: 2.5em;
  line-height: 1.5;
  margin-top:0em;
  margin-bottom: 2.5em;
  text-align: center;
  text-indent: 0;
}
.editeur {
  font-family: "Garamond", serif;
  font-variant: small-caps;
  font-variant-caps: small-caps;
  font-size: 1.3em;
  line-height: 1.5;
  text-align: center;
  text-indent: 0;
}
.marquetypographique {
  text-indent:0;
  margin: 0 auto 0;
  text-align:center;
}
.marquetypographique img {
  margin: 0 auto;
  text-align: center;
  width: 200px;
  max-width: 40%;
  max-height: 40%;
}
.footnotes {
  font-family: "Garamond", serif;
  font-size: 0.8em;
  color: black;
}
.footnotes li {
  list-style-type: decimal;
  color: black;
  margin-left: 2em;
  margin-right: 1em;
}
.footnote-ref {
  font-family: "Garamond", serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-size: 0.8em;
  line-height: 1.2;
  vertical-align: 35%;
  vertical-align: super;
  color: black;
  margin-left: 0.2em;
}
.footnote-back {
  font-family: "Garamond", serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: black;
}
