@charset "UTF-8";
@font-face {
  font-family: 'Garamond';
  src: url('fonts/garamond.woff2') format('woff2'), url('fonts/garamond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-fg: #333;
  --color-bg: #fff;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-feature-settings: 'kern', 'liga', 'hlig', 'clig', 'dlig', 'calt', 'swsh', 'onum';
  font-family: 'Garamond', 'Palatino Linotype', Palatino, Palladio, 'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style', 'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond', 'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L', Georgia, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-fg);
  background-color: var(--color-bg);
  quotes: '«\00A0''\00A0»''“' '”';
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.6;
  max-width: 40em;
  width: 100%;
  margin: 0 auto;
  padding: 0 3em;
}

::-moz-selection {
  color: var(--color-bg);
  background-color: var(--color-fg);
}

::selection {
  color: var(--color-bg);
  background-color: var(--color-fg);
}

h1 {
  letter-spacing: 0.01em;
  margin: 1em 0;
  line-height: 1.6;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  text-align: right;
}

h2 {
  margin: 0 0;
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  text-align: right;
}

h3 {
  margin: 0 0;
  font-size: 1.1em;
  font-style: normal;
  font-weight: normal;
  text-align: right;
}

hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid var(--color-fg);
  margin: 1em auto;
  padding: 0;
}

em {
  font-style: italic;
}

p {
  margin-bottom: 1.6em;
}

p + h1,
p + h2 {
  margin-top: 1.6em;
}

ul {
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-align: left;
  /* Avec les espaces insécables */
  /* text-indent: -1.15em; */
  /* padding-left: 2.15em; */
  /* sans les espaces insécables */
}

li {
  line-height: 1.6;
  margin: 0;
  /* list-style: none; */
  /* font-variant: small-caps; */
  /* text-decoration: none; */
}

a {
  color: var(--color-fg);
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px dotted var(--color-fg);
  outline: none;
}

a:hover,
a:focus,
a:active {
  background-color: var(--color-fg);
  color: var(--color-bg);
  text-decoration: none;
  border-bottom: none;
  outline: none;
}

.footnotes {
  margin: 0 0 1.6em;
}

.references .csl-entry {
  margin-left: 1.5em;
  text-indent: -1.5em;
}

.csl-left-margin {
  min-width: 1.5em;
  float: left;
}

.csl-right-inline {
  margin-left: 1.5em;
  padding-left: 0.75em;
}

.csl-indent {
  margin-left: 1.5em;
}

.footnotes {
  margin: 1.6em 0 3.2em;
}

.footnotes hr {
  margin: 1.6em auto;
}

.footnotes p {
  margin: 0;
}

.footnote-ref {
  font-style: normal;
  margin-left: 0.1em;
  text-decoration: none;
  border-bottom: none;
}

.footnote-back {
  font-style: normal;
  margin-left: 0.1em;
  text-decoration: none;
  border-bottom: none;
}

.title {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.9em;
}

.author {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.6em;
}

.publisher {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.3em;
}

.marquetypographique {
  display: block;
  margin: 1em auto;
  width: 10%;
}

.date {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}

/* Chapter Epigraphs */
div.epigraph {
  margin: 5em 0;
}

div.epigraph > blockquote {
  margin-top: 3em;
  margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
  font-style: italic;
}

div.epigraph > blockquote > footer {
  font-style: normal;
}

div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
  font-size: 1em;
}

blockquote p {
  width: 55%;
  margin-right: 40px;
}

blockquote footer {
  width: 55%;
  font-size: 1.1em;
  text-align: right;
}

li:not(:first-child) {
  margin-top: 0.25em;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1em;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

img {
  max-width: 100%;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

.sans > code {
  font-size: 1.2em;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.8em;
}

.marginnote > code,
.sidenote > code {
  font-size: 1em;
}

pre.code {
  font-size: 0.9em;
  width: 52.5%;
  margin-left: 2.5%;
  overflow-x: auto;
}

pre.code.fullwidth {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

@media (min-width: 55em) {
  body {
    font-size: 2.4rem;
  }
}

@media (min-width: 70em) {
  body {
    font-size: 2.6rem;
  }
}

@media (min-width: 90em) {
  body {
    font-size: 2.8rem;
  }
}
